:root{
  --primary : crimson;
  --dark : #1F2937;
  --darkdark : #111827;
  --light: #F3F4F6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira sans', sans-serif;
}

body{
   background: var(--dark); /* The var() function is used to insert the value of a CSS variable. */
  color: var(--light); /* syntax :  var(--name, value) */
}